// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: #F0F8FF;
	}
table {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	text-align: center;
	border-collapse: collapse;

}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}